<!doctype html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>MidiTap</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/public/js/sidr-package-1.2.1/jquery.sidr.min.js"></script>
	<link rel="stylesheet" media="screen" type="text/css" href="/public/css/main.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/public/js/sidr-package-1.2.1/stylesheets/jquery.sidr.light.css" />
  </head>
  <body>
    <div id="main">

        <div id="score-container">
    	    <span id="input-part">&nbsp;</span>
        </div>

        <div id="controller-opener-container">
            <a id="controller-opener" href="#sidr">Toggle Menu</a>
        </div>


        <div id="sidr" class="sidr">
            <ul>
                <li id="c_restart"><input type="image" src="public/img/icon_close_alt2.png" ></li>
                <li id="c_stop_or_go">
                    <div class="btn_centerize" id="c_b_stop"
                        >
                        <img src="public/img/icon_pause_alt2.png">
                    </div>
                    <div class="btn_centerize" id="c_b_go">
                        <img src="public/img/arrow_triangle-right_alt2.png">
                    </div>
                </li>
                <li id="c_upload">
                    <input type="text" value="" id="c_t_nick_name">
                    <input type="image" src="public/img/icon_cloud-upload.png" id="upload-button"></li>
                </li>
            </ul>
            <%- score_list %>
        </div>

    	<p id="main-part">*</p>
		<div id="audioarea">    	
            <audio id="A" class="s-common" src="public/data/soundsA/1.mp3" preload="auto" ></audio>
            <audio id="S" class="s-common" src="public/data/soundsA/2.mp3" preload="auto" ></audio>
            <audio id="D" class="s-common" src="public/data/soundsA/3.mp3" preload="auto" ></audio>
            <audio id="F" class="s-common" src="public/data/soundsA/4.mp3" preload="auto" ></audio>
            <audio id="G" class="s-common" src="public/data/soundsA/5.mp3" preload="auto" ></audio>
            <audio id="H" class="s-common" src="public/data/soundsA/6.mp3" preload="auto" ></audio>
            <audio id="J" class="s-common" src="public/data/soundsA/7.mp3" preload="auto" ></audio>
            <audio id="K" class="s-common" src="public/data/soundsA/8.mp3" preload="auto" ></audio>
            <audio id="L" class="s-common" src="public/data/soundsA/9.mp3" preload="auto" ></audio>
            <audio id="Q" class="s-common" src="public/data/soundsQ/1.mp3" preload="auto" ></audio>
            <audio id="W" class="s-common" src="public/data/soundsQ/2.mp3" preload="auto" ></audio>
            <audio id="E" class="s-common" src="public/data/soundsQ/3.mp3" preload="auto" ></audio>
            <audio id="R" class="s-common" src="public/data/soundsQ/4.mp3" preload="auto" ></audio>
            <audio id="T" class="s-common" src="public/data/soundsQ/5.mp3" preload="auto" ></audio>
            <audio id="Y" class="s-common" src="public/data/soundsQ/6.mp3" preload="auto" ></audio>
            <audio id="U" class="s-common" src="public/data/soundsQ/7.mp3" preload="auto" ></audio>
            <audio id="I" class="s-common" src="public/data/soundsQ/8.mp3" preload="auto" ></audio>
            <audio id="O" class="s-common" src="public/data/soundsQ/9.mp3" preload="auto" ></audio>
            <audio id="P" class="s-common" src="public/data/soundsQ/10.mp3" preload="auto" ></audio>
            <audio id="Z" class="s-common" src="public/data/soundsZ/1.mp3" preload="auto" ></audio>
            <audio id="X" class="s-common" src="public/data/soundsZ/2.mp3" preload="auto" ></audio>
            <audio id="C" class="s-common" src="public/data/soundsZ/3.mp3" preload="auto" ></audio>
            <audio id="V" class="s-common" src="public/data/soundsZ/4.mp3" preload="auto" ></audio>
            <audio id="B" class="s-common" src="public/data/soundsZ/5.mp3" preload="auto" ></audio>
            <audio id="N" class="s-common" src="public/data/soundsZ/6.mp3" preload="auto" ></audio>
            <audio id="M" class="s-common" src="public/data/soundsZ/7.mp3" preload="auto" ></audio>
       </div>
    </div>
    <script src="public/js/main.js"></script>
  </body>
</html>
