<!doctype html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>MidiTap</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/public/js/sidr-package-1.2.1/jquery.sidr.min.js"></script>
    <script src="/public/js/hideshare/hideshare.min.js"></script>
    <script src="http://platform.tumblr.com/v1/share.js"></script>
    <script type="text/javascript">
    </script>
	<link rel="stylesheet" media="screen" type="text/css" href="/public/css/main.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/public/js/sidr-package-1.2.1/stylesheets/jquery.sidr.light.css" />
  </head>
  <body>
    <div id="main">

        <div id="score-container">
    	    <span id="input-part">&nbsp;</span>
        </div>

        <div id="controller-opener-container">
            <a id="controller-opener" href="#sidr">Toggle Menu</a>
        </div>


        <div id="sidr" class="sidr">
            <div class="sidr_controller">
                <ul>

                    <li id="c_restart">
                        <input type="image" src="public/img/icon_close_alt2.png" >
                    </li>
                    
                    <li id="c_stop_or_go">
                        <div class="btn_centerize" id="c_b_stop">
                            <img src="public/img/icon_pause_alt2.png">
                        </div>

                        <div class="btn_centerize" id="c_b_go">
                            <img src="public/img/arrow_triangle-right_alt2.png">
                        </div>
                    </li>

                    <li id="c_upload">
                        <select name="sound_name" id="sound_name">>
                            <option value="0">patatap</option>
                            <option value="1">jemapur01</option>
                            <option value="2">jemapur02</option>
                            <option value="3">jemapur03</option>
                        </select>

                        <input type="text" value="" id="c_t_nick_name" placeholder="input your name">
                        <input type="image" src="public/img/icon_cloud-upload.png" id="upload-button"></li>
                    </li>

                    <li id="c_mail">
                       <input type="email" value="" id="c_t_mail_to" placeholder="ex.) hoge@fuga.com">
                       <input type="image" src="public/img/icon_mail_alt.png" id="email-button">
                    </li>

                    <li id="c_share">

                        <div id="tumlblr-button-area">
                            <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px; height:20px; background:url('//platform.tumblr.com/v1/share_4.png') top left no-repeat transparent;">Share on Tumblr</a>
                        </div>

                        <div id="twitter-button-area">
                            <!-- <input type="image" src="public/img/social_twitter.png" id="twitter-button">-->
                            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="miditap">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                        </div>

                        <div id="facebook-button-area">
                            <!--<input type="image" src="public/img/social_facebook.png" id="facebook-button">-->
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=475521025873387&version=v2.0";
                                fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>
                            <div class="fb-send" data-href="<%- this_url  %>" ref="1" data-colorscheme="light"></div>
                        </div>
                        

                    </li>

                    <li id="c_download">
                        <input type="image" src="public/img/icon_cloud-download.png" id="download-button"></li>
                    </li>

                </ul>
            </div>
        </div>

        <!-- <p id="main-part">*</p> -->
		<div id="audioarea">    	
            <audio id="A" class="s-common" src="public/data/patatap/soundsA/1.mp3" preload="auto" ></audio>
            <audio id="S" class="s-common" src="public/data/patatap/soundsA/2.mp3" preload="auto" ></audio>
            <audio id="D" class="s-common" src="public/data/patatap/soundsA/3.mp3" preload="auto" ></audio>
            <audio id="F" class="s-common" src="public/data/patatap/soundsA/4.mp3" preload="auto" ></audio>
            <audio id="G" class="s-common" src="public/data/patatap/soundsA/5.mp3" preload="auto" ></audio>
            <audio id="H" class="s-common" src="public/data/patatap/soundsA/6.mp3" preload="auto" ></audio>
            <audio id="J" class="s-common" src="public/data/patatap/soundsA/7.mp3" preload="auto" ></audio>
            <audio id="K" class="s-common" src="public/data/patatap/soundsA/8.mp3" preload="auto" ></audio>
            <audio id="L" class="s-common" src="public/data/patatap/soundsA/9.mp3" preload="auto" ></audio>
            <audio id="Q" class="s-common" src="public/data/patatap/soundsQ/1.mp3" preload="auto" ></audio>
            <audio id="W" class="s-common" src="public/data/patatap/soundsQ/2.mp3" preload="auto" ></audio>
            <audio id="E" class="s-common" src="public/data/patatap/soundsQ/3.mp3" preload="auto" ></audio>
            <audio id="R" class="s-common" src="public/data/patatap/soundsQ/4.mp3" preload="auto" ></audio>
            <audio id="T" class="s-common" src="public/data/patatap/soundsQ/5.mp3" preload="auto" ></audio>
            <audio id="Y" class="s-common" src="public/data/patatap/soundsQ/6.mp3" preload="auto" ></audio>
            <audio id="U" class="s-common" src="public/data/patatap/soundsQ/7.mp3" preload="auto" ></audio>
            <audio id="I" class="s-common" src="public/data/patatap/soundsQ/8.mp3" preload="auto" ></audio>
            <audio id="O" class="s-common" src="public/data/patatap/soundsQ/9.mp3" preload="auto" ></audio>
            <audio id="P" class="s-common" src="public/data/patatap/soundsQ/10.mp3" preload="auto" ></audio>
            <audio id="Z" class="s-common" src="public/data/patatap/soundsZ/1.mp3" preload="auto" ></audio>
            <audio id="X" class="s-common" src="public/data/patatap/soundsZ/2.mp3" preload="auto" ></audio>
            <audio id="C" class="s-common" src="public/data/patatap/soundsZ/3.mp3" preload="auto" ></audio>
            <audio id="V" class="s-common" src="public/data/patatap/soundsZ/4.mp3" preload="auto" ></audio>
            <audio id="B" class="s-common" src="public/data/patatap/soundsZ/5.mp3" preload="auto" ></audio>
            <audio id="N" class="s-common" src="public/data/patatap/soundsZ/6.mp3" preload="auto" ></audio>
            <audio id="M" class="s-common" src="public/data/patatap/soundsZ/7.mp3" preload="auto" ></audio>
       </div>

        <div id="score-list-container">
            <%- score_list %>
            <div id="score-list-close-button">
                <input type="image" src="public/img/icon_close.png" id="score-list-button"></li>
            </div>
        </div>

    </div>
    <script src="public/js/main.js"></script>
  </body>
</html>
